# CeCountDown
import time
daysLeft = int(input("how many days left "))

while daysLeft > 0: 
    m, s = divmod(daysLeft, 60) # assigning the number of mins and sec to be counted down
    h, m = divmod(m, 60)
    timeLeft = (str(h).zfill(2) + ":" + str(m).zfill(2) + ":" + str(s).zfill(2))# alows for double
    #digit place holder for the count down.
    print(timeLeft, end="") #prints the time to the screen
    time.sleep(1) # allows the funtion to wait one second before printing the next time line
    daysLeft -=1 # counts down the time by one
print("\r") # adds space to the count and final message     
print("\r" + "its finaly time") # final message 
   
   
# if above loop doesnt run properly please use one bellow 

# new timer and count down function
import time
def countdown(p,q):
    i=p
    j=q
    k=0
    while True:
        if(j==-1):
            j=59
            i -=1
        if(j > 9):  
            print(str(k)+str(i)+":"+str(j), end="\r")
        else:
            print(str(k)+str(i)+":"+str(k)+str(j), end="\r")
        time.sleep(1)
        j -= 1
        if(i==0 and j==-1):
            break
    if(i==0 and j==-1):
        print("Goodbye!", end="\r")
        time.sleep(1)
countdown(1,5) #countdown(min,sec)
