@font-face

{
	font-family: MyFont;
	src:url(digital.ttf);
}

body
{
	background-color: #000000

}
.container
{
	position: absolute;
	top: 40%;
	left: 50%;
	color: white;
	text-shadow: 0px 0px 20px #00fff7;
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 10px;
	/*background-color: #fff;*/
	border: 5px solid black;
	font-family: sans-serif;
	font-size: 25px;
	/*box-shadow: 0 0 20px 10px #00fff7;*/
	text-shadow: 10px;

}

.info
{
	font-family: MyFont;
	font-size: 100px;
}

.login
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border: 5px solid black;
	border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    box-shadow: 0 0 20px 5px #00fff7;
}

div.scrollmenu {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.button {
    background-color: black; /* regular background color for all buttons */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    cursor: pointer;

}

.seyram {
    color: black;
    border: 2px solid black;

}

.seyram:hover {

    color: white;
    border-radius: 20px;
    border: 2px solid #4CAF50;
}

.marvin {
    color: black;
    border: 2px solid black;
}

.marvin:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #008CBA;
}

.mark {
    color: black;
    border: 2px solid black;
}

.mark:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #f44336;

}

.edwen {
    color: black;
    border: 2px solid black;
}

.edwen:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #e7e7e7;
}

.button5 {
    color: black;
    border: 2px solid black;
}

.button5:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button6 {
    color: black;
    border: 2px solid black;
}

.button6:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button7 {
    color: black;
    border: 2px solid black;
}

.button7:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button8 {
    color: black;
    border: 2px solid black;
}

.button8:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button9 {
    color: black;
    border: 2px solid black;
}

.button9:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button10 {
    color: black;
    border: 2px solid black;
}

.button10:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button11 {
    color: black;
    border: 2px solid black;
}

.button11:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button12 {
    color: black;
    border: 2px solid black;
}

.button12:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
.button13 {
    color: black;
    border: 2px solid black;
}

.button13:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}

.button14 {
    color: black;
    border: 2px solid black;
}

.button14:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}

.button15 {
    color: black;
    border: 2px solid black;
}

.button15:hover {
    color: white;
    border-radius: 20px;
    border: 2px solid #555555;
}
